*.log
*.pyc
*.py~
*.sqlite
*.swp
.svn/*
doc/build/doctrees*
docs/.svn/*
en/*.ogg
en/google_tts_downloader.py
lib/.svn/*
pl/.svn/*
pl_google/*.ogg
pl_google/google_tts_downloader.py
/config.py.bak
